{
    "openapi": "3.0.3",
    "info": {
        "title": "Conta API",
        "version": "1.0.0"
    },
    "servers": [
        {
            "url": "https:\/\/api.gateway.conta.no",
            "description": "Api Gateway Production"
        }
    ],
    "paths": {
        "\/defaultRequest": {
            "get": {
                "tags": [],
                "summary": "Template for all rest requests",
                "operationId": "DefaultRequestTemplate",
                "parameters": [
                    {
                        "$ref": "#\/components\/parameters\/httpForceReadonlyDb"
                    },
                    {
                        "$ref": "#\/components\/parameters\/httpContaForceRollback"
                    },
                    {
                        "$ref": "#\/components\/parameters\/httpContaLanguage"
                    }
                ],
                "responses": {
                    "400": {
                        "description": "Bad Request<br><br>**Possible exceptions**\n| Exception | Description |\n| ------- | ------- |\n| MultipleFilesUploadedException | Multiple files uploaded in an Operation that only supports having one file uploaded. |\n| UnsupportedFileSizeOpException | The size of one or more uploaded files exceeds the individual file size of the Operation. |\n| UnsupportedFileTypeOpException | The type of one or more uploaded files is not amongst the allowed file types of the Operation. |\n| EmptyFileException | One or more files that was uploaded have no content. |\n| FileRestRequestException | A category of Rest exceptions indicating inability to upload file for some reason. |\n| FileSizesExceedsSystemLimitException | Accumulated size of all uploaded files exceeds the maximum allowed size of the system. |\n| FileUploadException | File upload has been attempted, but no file was actually uploaded. |\n| PartiallyUploadedFileException | File was only partially uploaded. |\n| UnsupportedFileTypeException | The file type is not among the supported file types of the system. |\n| RestPropertyContainsOnlyTagsException | Exception thrown when a REST property contains only tags, which is not permitted or expected in the context of the REST request. |\n| RestRequestException | A category of Rest exceptions indicating resolution of the rest request failed. |\n| AlreadyLoggedInAuthenticationToolException | Authentication declined as the user is already logged into the system. |",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "oneOf": [
                                        {
                                            "$ref": "#\/components\/schemas\/apiMultipleFilesUploadedException"
                                        },
                                        {
                                            "$ref": "#\/components\/schemas\/apiUnsupportedFileSizeOpException"
                                        },
                                        {
                                            "$ref": "#\/components\/schemas\/apiUnsupportedFileTypeOpException"
                                        },
                                        {
                                            "$ref": "#\/components\/schemas\/apiEmptyFileException"
                                        },
                                        {
                                            "$ref": "#\/components\/schemas\/apiFileRestRequestException"
                                        },
                                        {
                                            "$ref": "#\/components\/schemas\/apiFileSizesExceedsSystemLimitException"
                                        },
                                        {
                                            "$ref": "#\/components\/schemas\/apiFileUploadException"
                                        },
                                        {
                                            "$ref": "#\/components\/schemas\/apiPartiallyUploadedFileException"
                                        },
                                        {
                                            "$ref": "#\/components\/schemas\/apiUnsupportedFileTypeException"
                                        },
                                        {
                                            "$ref": "#\/components\/schemas\/apiRestPropertyContainsOnlyTagsException"
                                        },
                                        {
                                            "$ref": "#\/components\/schemas\/apiRestRequestException"
                                        },
                                        {
                                            "$ref": "#\/components\/schemas\/apiAlreadyLoggedInAuthenticationToolException"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized<br><br>**Possible exceptions**\n| Exception | Description |\n| ------- | ------- |\n| GuestAccessException | Was unable, for some reason, to authorize Guest Access. |\n| GuestAccessTokenExpiredException | Access to the system denied as the timestamp of the token, used to access the system as a guest user, has expired. |\n| ApiGatewayRestRequestException | Exception class category for detecting and handling errors that originate within the ApiGatewayTool. |\n| LoginRequiredException | Access to the application denied as execution requires the user to have be logged in. |\n| InvalidTotpKeyAuthenticationToolException | Authentication declined as the TOTP key could not be authenticated. |\n| LoginFailedAuthenticationToolException | Authentication declined as login could not be established (exact reason hidden) which typically is due to the login\/pw is not accepted. |\n| LoginRequiredAuthenticationToolException | Authentication declined as it requires a user to have been logged into the system (i.e. authentication tried by a guest access). |\n| TotpRequiredAuthenticationToolException | Authentication declined as further execution requires TOTP. |",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "oneOf": [
                                        {
                                            "$ref": "#\/components\/schemas\/apiGuestAccessException"
                                        },
                                        {
                                            "$ref": "#\/components\/schemas\/apiGuestAccessTokenExpiredException"
                                        },
                                        {
                                            "$ref": "#\/components\/schemas\/apiApiGatewayRestRequestException"
                                        },
                                        {
                                            "$ref": "#\/components\/schemas\/apiLoginRequiredException"
                                        },
                                        {
                                            "$ref": "#\/components\/schemas\/apiInvalidTotpKeyAuthenticationToolException"
                                        },
                                        {
                                            "$ref": "#\/components\/schemas\/apiLoginFailedAuthenticationToolException"
                                        },
                                        {
                                            "$ref": "#\/components\/schemas\/apiLoginRequiredAuthenticationToolException"
                                        },
                                        {
                                            "$ref": "#\/components\/schemas\/apiTotpRequiredAuthenticationToolException"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "403": {
                        "description": "Forbidden<br><br>**Possible exceptions**\n| Exception | Description |\n| ------- | ------- |\n| NotAdminException | Access to the application denied as execution requires the user to have be logged in as an Admin user. |\n| NotSuperAdminException | Access to the application denied as execution requires the user to have be logged in as a SuperAdmin user. |\n| OrgAccessDeniedException | Not given access to the application as user was denied access to the organisation specified in the request. |\n| OrgBlockedException | Not given access to the application as the org accessing the application has been blocked. |\n| UserBlockedException | Not given access to the application as the user has been blocked. |\n| ExistsIdenticalEmailAddressUserToolException | Trying to create\/register with, or change an email address to an email address that already is registered in the system. |\n| RequiresExecutionByAdminUserToolException | The functionality that was tried executed can only be performed by the user himself or an administrator. |\n| RequiresExecutionBySuperAdminUserToolException | The functionality that was tried executed can only be performed by the user himself or an super administrator. |",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "oneOf": [
                                        {
                                            "$ref": "#\/components\/schemas\/apiNotAdminException"
                                        },
                                        {
                                            "$ref": "#\/components\/schemas\/apiNotSuperAdminException"
                                        },
                                        {
                                            "$ref": "#\/components\/schemas\/apiOrgAccessDeniedException"
                                        },
                                        {
                                            "$ref": "#\/components\/schemas\/apiOrgBlockedException"
                                        },
                                        {
                                            "$ref": "#\/components\/schemas\/apiUserBlockedException"
                                        },
                                        {
                                            "$ref": "#\/components\/schemas\/apiExistsIdenticalEmailAddressUserToolException"
                                        },
                                        {
                                            "$ref": "#\/components\/schemas\/apiRequiresExecutionByAdminUserToolException"
                                        },
                                        {
                                            "$ref": "#\/components\/schemas\/apiRequiresExecutionBySuperAdminUserToolException"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "Not Found<br><br>**Possible exceptions**\n| Exception | Description |\n| ------- | ------- |\n| NotFoundIdModelStorageToolException | Exception for errors within the IdModelStorage tool for when no models could be located when trying to perform an action which requires a\nspecific model to be located. |\n| UrlNotFoundException | Could not locate any Operation associated with the url (typically the \"folder\"-path) supplied. |",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "oneOf": [
                                        {
                                            "$ref": "#\/components\/schemas\/apiNotFoundIdModelStorageToolException"
                                        },
                                        {
                                            "$ref": "#\/components\/schemas\/apiUrlNotFoundException"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "405": {
                        "description": "Method Not Allowed<br><br>**Possible exceptions**\n| Exception | Description |\n| ------- | ------- |\n| UrlMethodNotFoundException | Could not locate any route associated with the url in the given HTTP Method. |",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/apiUrlMethodNotFoundException"
                                }
                            }
                        }
                    },
                    "409": {
                        "description": "Conflict<br><br>**Possible exceptions**\n| Exception | Description |\n| ------- | ------- |\n| InUseIdModelStorageException | Exception for errors within the IdModelStorage tool for when an action could not be executed as the target Model has external\nreferences\/dependencies to it. |\n| InputOpException | Input to the route is invalid. |",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "oneOf": [
                                        {
                                            "$ref": "#\/components\/schemas\/apiInUseIdModelStorageException"
                                        },
                                        {
                                            "$ref": "#\/components\/schemas\/errorResponseInput"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "413": {
                        "description": "Content Too Large<br><br>**Possible exceptions**\n| Exception | Description |\n| ------- | ------- |\n| PostRequestTooLargeException | Size of the POST request exceeds the maximum allowed size of the system. |",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/apiPostRequestTooLargeException"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "Unprocessable Content<br><br>**Possible exceptions**\n| Exception | Description |\n| ------- | ------- |\n| CustomException | Exceptions expressing errors within the \"business logic\". |",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/errorResponseCustom"
                                }
                            }
                        }
                    },
                    "500": {
                        "description": "Internal Server Error<br><br>**Possible exceptions**\n| Exception | Description |\n| ------- | ------- |\n| ToolException | Wraps the module exception class to indicate, by inheritance, the exception is in regard to a failure within a Tool. |\n| AmqpToolException | Exception class category for detecting and handling errors that originate within the Amqp tool. |\n| FailedToStoreAmqpToolException | Exception thrown when failed to store message on the AmqpStorage |\n| CacheToolException | Exception class category for detecting and handling errors that originate within the Cache tool. |\n| ConfigurationToolException | Exception class category for detecting and handling errors that originate within the Configuration tool. |\n| GlobalValueToolException | Exception thrown when a failure happens using Global value tool. |\n| IdModelStorageToolException | Exception class category for detecting and handling errors that originate within the IdModelStorage tool. |\n| MultipleFoundIdModelStorageToolException | Exception for errors within the IdModelStorage tool for when multiple models was located when trying to perform an action which requires\nonly a specific model to be located. |\n| ProjectToolException | Exception class category for detecting and handling errors that originate within the Project tool. |\n| TmpFileToolException | Exception class category for detecting and handling errors that originate within the TmpFile tool. |\n| OrgReadOnlyModeException | Exception thrown when organization is in a read only mode and trying to persist any data. |\n| RestException | Category which, by inheritance, indicates the exception originates from the Rest Layer. |\n| RestRequestIdempotencyException | Exception thrown when a request is not idempotent. |\n| AccessToolException | Exception class category for detecting and handling errors that originate within the AccessTool. |\n| UserHasPolicyToOrgAccessToolException | Exception indicating that the access with the given policy is already created. |\n| AccessInvitationToolException | Exception class category for detecting and handling errors that originate within the AccessInvitationTool. |\n| AlreadyExistsAccessInvitationToolException | Unable to create invitation as the user already has been invited to that specific organisation. |\n| AuthenticationToolException | Exception class category for detecting and handling errors that originate within the AuthenticationTool. |\n| BlockedAuthenticationToolException | Authentication declined as the user has been blocked. |\n| EmailAddressNotConfirmedAuthenticationToolException | Authentication declined as the email address of the user is not confirmed |\n| GoogleServiceAccountToolException | Exception class category for detecting and handling errors that originate within the GoogleServiceAccount. |\n| MissingSSORolesAuthenticationToolException | Exception is thrown when there are insufficient roles in Firebase to perform an action. Can be thrown when 'sup' or 'adm'\nrole is required to call an API, but it is missing. |\n| PasswordResetEmailNotFoundAuthenticationToolException | Authentication declined as it requires a password reset email to exist. |\n| PasswordResetExpiredAuthenticationToolException | Authentication declined as the allocated time to complete the password reset has expired. |\n| PasswordResetTooManyAttemptsAuthenticationToolException | Authentication declined as the number of password reset attempts has exceeded the number of allowed attempts. |\n| SSOToolException | Exception class category for detecting and handling errors that originate within the SSOTool. |\n| TooManyLoginAttemptsAuthenticationToolException | Authentication declined as the number of login attempts has exceeded the number of allowed attempts. |\n| EmailToolException | Exception class category for detecting and handling errors that originate within the EmailTool. |\n| EmailBulkToolException | Exception class category for detecting and handling errors that originate within the EmailBulkTool. |\n| FileStorageToolException | Exception class category for detecting and handling errors that originate within the FileStorageTool. |\n| GuestAccessToolException | Exception class category for detecting and handling errors that originate within the GuestAccessTool. |\n| LanguageToolException | Exception class category for detecting and handling errors that originate within the LanguageTool. |\n| MidgardProjectToolException | Exception class category for detecting and handling errors that originate within the UserTool. |\n| OrgToolException | Exception class category for detecting and handling errors that originate within the OrgTool. |\n| OrgNoteToolException | Exception class category for detecting and handling errors that originate within the OrgNoteTool. |\n| PolicyToolException | Exception class category for detecting and handling errors that originate within the PolicyTool. |\n| ExistsEmailAddressChangeRequestUserToolException | Exception thrown when there is already a pending email change request for a user. |\n| InvalidEmailAddressCodeUserToolException | The code does not match the expected code for email address change. |\n| NoEmailAddressChangeRequestedUserToolException | There does not exist a request for changing email address. |\n| UserToolException | Exception class category for detecting and handling errors that originate within the UserTool. |\n| InvalidCodeUserRegistrationToolException | Invalid code supplied for the user registration\/invitation. |\n| RegistrationDoesNotExistUserRegistrationToolException | Unable to find the existing registration. |\n| UserAlreadyHasAccessToOrgUserRegistrationToolException | Throw when inviting a user that already has access to the organization. |\n| UserAlreadyInvitedToOrgUserRegistrationToolException | Throw when inviting a user that already has an invitation to the organization. |\n| UserRegistrationToolException | Exception class category for detecting and handling errors that originate within the OrgRegistrationTool. |",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "oneOf": [
                                        {
                                            "$ref": "#\/components\/schemas\/apiToolException"
                                        },
                                        {
                                            "$ref": "#\/components\/schemas\/apiAmqpToolException"
                                        },
                                        {
                                            "$ref": "#\/components\/schemas\/apiFailedToStoreAmqpToolException"
                                        },
                                        {
                                            "$ref": "#\/components\/schemas\/apiCacheToolException"
                                        },
                                        {
                                            "$ref": "#\/components\/schemas\/apiConfigurationToolException"
                                        },
                                        {
                                            "$ref": "#\/components\/schemas\/apiGlobalValueToolException"
                                        },
                                        {
                                            "$ref": "#\/components\/schemas\/apiIdModelStorageToolException"
                                        },
                                        {
                                            "$ref": "#\/components\/schemas\/apiMultipleFoundIdModelStorageToolException"
                                        },
                                        {
                                            "$ref": "#\/components\/schemas\/apiProjectToolException"
                                        },
                                        {
                                            "$ref": "#\/components\/schemas\/apiTmpFileToolException"
                                        },
                                        {
                                            "$ref": "#\/components\/schemas\/apiOrgReadOnlyModeException"
                                        },
                                        {
                                            "$ref": "#\/components\/schemas\/apiRestException"
                                        },
                                        {
                                            "$ref": "#\/components\/schemas\/apiRestRequestIdempotencyException"
                                        },
                                        {
                                            "$ref": "#\/components\/schemas\/apiAccessToolException"
                                        },
                                        {
                                            "$ref": "#\/components\/schemas\/apiUserHasPolicyToOrgAccessToolException"
                                        },
                                        {
                                            "$ref": "#\/components\/schemas\/apiAccessInvitationToolException"
                                        },
                                        {
                                            "$ref": "#\/components\/schemas\/apiAlreadyExistsAccessInvitationToolException"
                                        },
                                        {
                                            "$ref": "#\/components\/schemas\/apiAuthenticationToolException"
                                        },
                                        {
                                            "$ref": "#\/components\/schemas\/apiBlockedAuthenticationToolException"
                                        },
                                        {
                                            "$ref": "#\/components\/schemas\/apiEmailAddressNotConfirmedAuthenticationToolException"
                                        },
                                        {
                                            "$ref": "#\/components\/schemas\/apiGoogleServiceAccountToolException"
                                        },
                                        {
                                            "$ref": "#\/components\/schemas\/apiMissingSSORolesAuthenticationToolException"
                                        },
                                        {
                                            "$ref": "#\/components\/schemas\/apiPasswordResetEmailNotFoundAuthenticationToolException"
                                        },
                                        {
                                            "$ref": "#\/components\/schemas\/apiPasswordResetExpiredAuthenticationToolException"
                                        },
                                        {
                                            "$ref": "#\/components\/schemas\/apiPasswordResetTooManyAttemptsAuthenticationToolException"
                                        },
                                        {
                                            "$ref": "#\/components\/schemas\/apiSSOToolException"
                                        },
                                        {
                                            "$ref": "#\/components\/schemas\/apiTooManyLoginAttemptsAuthenticationToolException"
                                        },
                                        {
                                            "$ref": "#\/components\/schemas\/apiEmailToolException"
                                        },
                                        {
                                            "$ref": "#\/components\/schemas\/apiEmailBulkToolException"
                                        },
                                        {
                                            "$ref": "#\/components\/schemas\/apiFileStorageToolException"
                                        },
                                        {
                                            "$ref": "#\/components\/schemas\/apiGuestAccessToolException"
                                        },
                                        {
                                            "$ref": "#\/components\/schemas\/apiLanguageToolException"
                                        },
                                        {
                                            "$ref": "#\/components\/schemas\/apiMidgardProjectToolException"
                                        },
                                        {
                                            "$ref": "#\/components\/schemas\/apiOrgToolException"
                                        },
                                        {
                                            "$ref": "#\/components\/schemas\/apiOrgNoteToolException"
                                        },
                                        {
                                            "$ref": "#\/components\/schemas\/apiPolicyToolException"
                                        },
                                        {
                                            "$ref": "#\/components\/schemas\/apiExistsEmailAddressChangeRequestUserToolException"
                                        },
                                        {
                                            "$ref": "#\/components\/schemas\/apiInvalidEmailAddressCodeUserToolException"
                                        },
                                        {
                                            "$ref": "#\/components\/schemas\/apiNoEmailAddressChangeRequestedUserToolException"
                                        },
                                        {
                                            "$ref": "#\/components\/schemas\/apiUserToolException"
                                        },
                                        {
                                            "$ref": "#\/components\/schemas\/apiInvalidCodeUserRegistrationToolException"
                                        },
                                        {
                                            "$ref": "#\/components\/schemas\/apiRegistrationDoesNotExistUserRegistrationToolException"
                                        },
                                        {
                                            "$ref": "#\/components\/schemas\/apiUserAlreadyHasAccessToOrgUserRegistrationToolException"
                                        },
                                        {
                                            "$ref": "#\/components\/schemas\/apiUserAlreadyInvitedToOrgUserRegistrationToolException"
                                        },
                                        {
                                            "$ref": "#\/components\/schemas\/apiUserRegistrationToolException"
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "503": {
                        "description": "Service Unavailable<br><br>**Possible exceptions**\n| Exception | Description |\n| ------- | ------- |\n| MaintenanceException | Access to the system is denied as the system is under maintenance. |\n| SystemException | Thrown to indicate an unrecoverable error by logic or state within the application. |",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "oneOf": [
                                        {
                                            "$ref": "#\/components\/schemas\/apiMaintenanceException"
                                        },
                                        {
                                            "$ref": "#\/components\/schemas\/errorResponseSystem"
                                        }
                                    ]
                                }
                            }
                        }
                    }
                }
            }
        },
        "\/accounting\/organizations\/{opContextOrgId}\/bookkeeping-accounts": {
            "get": {
                "tags": [
                    "ext"
                ],
                "summary": "Find bookkeeping accounts based on name, number, or keywords.",
                "description": "Search bookkeeping accounts for bookkeeping account no, name and keywords. Uses the language of the active user.",
                "operationId": "GET 'ext\/accounting\/organizations\/{opContextOrgId}\/bookkeeping-accounts\/v1' RouteV1FindBookkeepingAccountsRestOp",
                "parameters": [
                    {
                        "$ref": "#\/components\/parameters\/queryModel.q"
                    },
                    {
                        "$ref": "#\/components\/parameters\/queryModel.hits"
                    },
                    {
                        "$ref": "#\/components\/parameters\/queryModel.page"
                    },
                    {
                        "$ref": "#\/components\/parameters\/queryModel.sort"
                    },
                    {
                        "$ref": "#\/components\/parameters\/queryModel.fromDate"
                    },
                    {
                        "$ref": "#\/components\/parameters\/queryModel.toDate"
                    },
                    {
                        "$ref": "#\/components\/parameters\/routeV1FindBookkeepingAccountsInputModel.startBookkeepingAccountNo"
                    },
                    {
                        "$ref": "#\/components\/parameters\/routeV1FindBookkeepingAccountsInputModel.endBookkeepingAccountNo"
                    },
                    {
                        "$ref": "#\/components\/parameters\/routeV1FindBookkeepingAccountsInputModel.ignoredBookkeepingAccountNos"
                    },
                    {
                        "$ref": "#\/components\/parameters\/routeV1FindBookkeepingAccountsInputModel.transactionId"
                    },
                    {
                        "$ref": "#\/components\/parameters\/routeV1FindBookkeepingAccountsInputModel.transactionDraftId"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "arrayOfRepresentation of a bookkeeping account.",
                        "content": {
                            "application\/json": {
                                "type": "array",
                                "items": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "integer",
                                            "description": "Bookkeeping account id.",
                                            "maximum": 9223372036854775807,
                                            "minimum": 1,
                                            "x-asgard-datatype": [
                                                "ASGARD_TYPE_INTEGER"
                                            ]
                                        },
                                        "bookkeepingAccountNo": {
                                            "type": "string",
                                            "description": "The account number for the bookkeeping account.",
                                            "minLength": 4,
                                            "maxLength": 4,
                                            "x-asgard-datatype": [
                                                "ASGARD_TYPE_BOOKKEEPING_ACCOUNT_NO"
                                            ]
                                        },
                                        "vatCode": {
                                            "$ref": "#\/components\/schemas\/enumVatCodeTypeEnum"
                                        },
                                        "name": {
                                            "type": "string",
                                            "description": "The name of this bookkeeping account.",
                                            "minLength": 1,
                                            "maxLength": 500,
                                            "x-asgard-datatype": [
                                                "ASGARD_TYPE_STRING"
                                            ]
                                        },
                                        "description": {
                                            "type": "string",
                                            "description": "The description of this bookkeeping account.",
                                            "minLength": 1,
                                            "maxLength": 2000,
                                            "x-asgard-datatype": [
                                                "ASGARD_TYPE_STRING"
                                            ]
                                        },
                                        "keywords": {
                                            "type": "string",
                                            "description": "The keywords for this bookkeeping account.",
                                            "minLength": 1,
                                            "maxLength": 255,
                                            "x-asgard-datatype": [
                                                "ASGARD_TYPE_STRING"
                                            ]
                                        },
                                        "isActive": {
                                            "type": "boolean",
                                            "description": "Is the bookkeeping account active or not.",
                                            "x-asgard-datatype": [
                                                "ASGARD_TYPE_BOOLEAN"
                                            ]
                                        },
                                        "bookkeepingAccountGroupId": {
                                            "type": "integer",
                                            "description": "The group this bookkeeping account belongs to.",
                                            "maximum": 9223372036854775807,
                                            "minimum": -9223372036854775808,
                                            "x-asgard-datatype": [
                                                "ASGARD_TYPE_INTEGER"
                                            ]
                                        },
                                        "createdAt": {
                                            "type": "string",
                                            "format": "date-time",
                                            "description": "Date\/time when the account was created.",
                                            "x-asgard-datatype": [
                                                "ASGARD_TYPE_DATETIME"
                                            ],
                                            "x-earliest": "1100-01-01T00:00:00",
                                            "x-latest": "2299-12-31T23:59:59"
                                        },
                                        "modifiedAt": {
                                            "type": "string",
                                            "format": "date-time",
                                            "description": "Date\/time when the account was last modified.",
                                            "x-asgard-datatype": [
                                                "ASGARD_TYPE_DATETIME"
                                            ],
                                            "x-earliest": "1100-01-01T00:00:00",
                                            "x-latest": "2299-12-31T23:59:59"
                                        },
                                        "isLocked": {
                                            "type": "boolean",
                                            "description": "Whether the bookkeeping account is locked and cannot be deactivated.",
                                            "x-asgard-datatype": [
                                                "ASGARD_TYPE_BOOLEAN"
                                            ]
                                        }
                                    }
                                },
                                "x-asgard-datatype": [
                                    "ASGARD_TYPE_ARRAY",
                                    "ASGARD_TYPE_OBJECT",
                                    "Conta\\Backend\\Rest\\Route\\External\\v1\\Accounting\\BookkeepingAccount\\BookkeepingAccount\\Model\\RouteV1FindBookkeepingAccountsOutputModel"
                                ]
                            }
                        }
                    }
                }
            },
            "parameters": [
                {
                    "$ref": "#\/components\/parameters\/httpContaApiGatewayKey"
                },
                {
                    "$ref": "#\/components\/parameters\/opContextOrgId"
                }
            ]
        },
        "\/accounting\/organizations\/{opContextOrgId}\/bookkeeping\/inbox\/attachments": {
            "get": {
                "tags": [
                    "ext"
                ],
                "summary": "Search bookkeeping inbox files.",
                "description": "",
                "operationId": "GET 'ext\/accounting\/organizations\/{opContextOrgId}\/bookkeeping\/inbox\/attachments\/v1' RouteV1SearchBookkeepingInboxFilesRestOp",
                "parameters": [
                    {
                        "$ref": "#\/components\/parameters\/queryModel.q"
                    },
                    {
                        "$ref": "#\/components\/parameters\/queryModel.hits"
                    },
                    {
                        "$ref": "#\/components\/parameters\/queryModel.page"
                    },
                    {
                        "$ref": "#\/components\/parameters\/queryModel.sort"
                    },
                    {
                        "$ref": "#\/components\/parameters\/queryModel.fromDate"
                    },
                    {
                        "$ref": "#\/components\/parameters\/queryModel.toDate"
                    },
                    {
                        "$ref": "#\/components\/parameters\/routeV1BookkeepingInboxSearchInputModel.afterId"
                    },
                    {
                        "$ref": "#\/components\/parameters\/routeV1BookkeepingInboxSearchInputModel.beforeId"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Represents the search result. Contains an array with the result and metadata about the search result. E.g. the total hit count.",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/RouteV1QueryResultBookkeepingInboxFileListModel"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "ext"
                ],
                "summary": "Upload bookkeeping inbox files.",
                "description": "",
                "operationId": "POST 'ext\/accounting\/organizations\/{opContextOrgId}\/bookkeeping\/inbox\/attachments\/v1' RouteV1UploadBookkeepingInboxFileRestOp",
                "parameters": [],
                "responses": {
                    "200": {
                        "description": "Bookkeeping inbox file.",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/RouteV1BookkeepingInboxFileModel"
                                }
                            }
                        }
                    }
                }
            },
            "parameters": [
                {
                    "$ref": "#\/components\/parameters\/httpContaApiGatewayKey"
                },
                {
                    "$ref": "#\/components\/parameters\/opContextOrgId"
                }
            ]
        },
        "\/accounting\/organizations\/{opContextOrgId}\/bookkeeping\/inbox\/attachments\/pages": {
            "post": {
                "tags": [
                    "ext"
                ],
                "summary": "Split bookkeeping inbox file into pages.",
                "description": "",
                "operationId": "POST 'ext\/accounting\/organizations\/{opContextOrgId}\/bookkeeping\/inbox\/attachments\/pages\/v1' RouteV1SplitBookkeepingInboxPdfByPagesRestOp",
                "parameters": [],
                "requestBody": {
                    "description": "Basic Input",
                    "content": {
                        "application\/json": {
                            "schema": {
                                "type": "integer",
                                "maximum": 9223372036854775807,
                                "minimum": 1,
                                "x-asgard-datatype": [
                                    "ASGARD_TYPE_INTEGER"
                                ]
                            }
                        }
                    },
                    "required": true
                },
                "responses": {
                    "200": {
                        "description": "arrayOfBookkeeping inbox file.",
                        "content": {
                            "application\/json": {
                                "type": "array",
                                "items": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "integer",
                                            "description": "The id of the bookkeeping inbox file.",
                                            "maximum": 9223372036854775807,
                                            "minimum": 1,
                                            "x-asgard-datatype": [
                                                "ASGARD_TYPE_INTEGER"
                                            ]
                                        },
                                        "receivedDateTime": {
                                            "type": "string",
                                            "format": "date-time",
                                            "description": "The date and time when the file was uploaded\/received.",
                                            "x-asgard-datatype": [
                                                "ASGARD_TYPE_DATETIME"
                                            ],
                                            "x-earliest": "1100-01-01T00:00:00",
                                            "x-latest": "2299-12-31T23:59:59"
                                        },
                                        "fileId": {
                                            "type": "integer",
                                            "description": "The ID for the file.",
                                            "maximum": 9223372036854775807,
                                            "minimum": 1,
                                            "x-asgard-datatype": [
                                                "ASGARD_TYPE_INTEGER"
                                            ]
                                        },
                                        "fileUrl": {
                                            "type": "string",
                                            "description": "Temporary url for the file.",
                                            "minLength": 1,
                                            "maxLength": 2000,
                                            "x-asgard-datatype": [
                                                "ASGARD_TYPE_STRING"
                                            ]
                                        },
                                        "thumbnailFileUrl": {
                                            "type": "string",
                                            "description": "Temporary url for the thumbnail of the file.",
                                            "minLength": 1,
                                            "maxLength": 2000,
                                            "x-asgard-datatype": [
                                                "ASGARD_TYPE_STRING"
                                            ]
                                        },
                                        "urlsExpiryDateTime": {
                                            "type": "string",
                                            "format": "date-time",
                                            "description": "Date when the urls will expire.",
                                            "x-asgard-datatype": [
                                                "ASGARD_TYPE_DATETIME"
                                            ],
                                            "x-earliest": "1100-01-01T00:00:00",
                                            "x-latest": "2299-12-31T23:59:59"
                                        },
                                        "filename": {
                                            "type": "string",
                                            "description": "Name of the file uploaded by the user.",
                                            "minLength": 1,
                                            "maxLength": 256,
                                            "x-asgard-datatype": [
                                                "ASGARD_TYPE_STRING"
                                            ]
                                        },
                                        "description": {
                                            "type": "string",
                                            "description": "The optional description.",
                                            "minLength": 1,
                                            "maxLength": 2000,
                                            "x-asgard-datatype": [
                                                "ASGARD_TYPE_STRING"
                                            ]
                                        },
                                        "size": {
                                            "type": "integer",
                                            "description": "Size of the file.",
                                            "maximum": 9223372036854775807,
                                            "minimum": -9223372036854775808,
                                            "x-asgard-datatype": [
                                                "ASGARD_TYPE_INTEGER"
                                            ]
                                        },
                                        "contentType": {
                                            "$ref": "#\/components\/schemas\/enumMimeTypeEnum"
                                        },
                                        "emailFrom": {
                                            "type": "string",
                                            "format": "email",
                                            "description": "The recipient's email address.",
                                            "x-asgard-datatype": [
                                                "ASGARD_TYPE_EMAIL"
                                            ]
                                        },
                                        "emailSubject": {
                                            "type": "string",
                                            "description": "The subject of the email.",
                                            "minLength": 1,
                                            "maxLength": 500,
                                            "x-asgard-datatype": [
                                                "ASGARD_TYPE_STRING"
                                            ]
                                        },
                                        "numberOfPages": {
                                            "type": "integer",
                                            "description": "The number of pages the pdf has.",
                                            "maximum": 9223372036854775807,
                                            "minimum": 1,
                                            "x-asgard-datatype": [
                                                "ASGARD_TYPE_INTEGER"
                                            ]
                                        },
                                        "title": {
                                            "type": "string",
                                            "description": "User-editable display title for the inbox file.",
                                            "minLength": 1,
                                            "maxLength": 256,
                                            "x-asgard-datatype": [
                                                "ASGARD_TYPE_STRING"
                                            ]
                                        },
                                        "additionalComments": {
                                            "type": "string",
                                            "description": "User-editable notes related to the file.",
                                            "minLength": 1,
                                            "maxLength": 2000,
                                            "x-asgard-datatype": [
                                                "ASGARD_TYPE_STRING"
                                            ]
                                        }
                                    }
                                },
                                "x-asgard-datatype": [
                                    "ASGARD_TYPE_ARRAY",
                                    "ASGARD_TYPE_OBJECT",
                                    "Conta\\Backend\\Rest\\Route\\External\\v1\\Accounting\\BookkeepingInboxFile\\Model\\RouteV1BookkeepingInboxFileModel"
                                ]
                            }
                        }
                    }
                }
            },
            "parameters": [
                {
                    "$ref": "#\/components\/parameters\/httpContaApiGatewayKey"
                },
                {
                    "$ref": "#\/components\/parameters\/opContextOrgId"
                }
            ]
        },
        "\/accounting\/organizations\/{opContextOrgId}\/bookkeeping\/inbox\/attachments\/{id}": {
            "get": {
                "tags": [
                    "ext"
                ],
                "summary": "Get bookkeeping inbox file.",
                "description": "",
                "operationId": "GET 'ext\/accounting\/organizations\/{opContextOrgId}\/bookkeeping\/inbox\/attachments\/{id}\/v1' RouteV1GetBookkeepingInboxFileRestOp",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "No comments specified",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "maximum": 9223372036854775807,
                            "minimum": 1,
                            "x-asgard-datatype": [
                                "ASGARD_TYPE_INTEGER"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Bookkeeping inbox file.",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/RouteV1BookkeepingInboxFileModel"
                                }
                            }
                        }
                    }
                }
            },
            "delete": {
                "tags": [
                    "ext"
                ],
                "summary": "Delete bookkeeing inbox file.",
                "description": "",
                "operationId": "DELETE 'ext\/accounting\/organizations\/{opContextOrgId}\/bookkeeping\/inbox\/attachments\/{id}\/v1' RouteV1DeleteBookkeepingInboxFileRestOp",
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "No comments specified",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "maximum": 9223372036854775807,
                            "minimum": 1,
                            "x-asgard-datatype": [
                                "ASGARD_TYPE_INTEGER"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Null"
                    }
                }
            },
            "parameters": [
                {
                    "$ref": "#\/components\/parameters\/httpContaApiGatewayKey"
                },
                {
                    "$ref": "#\/components\/parameters\/opContextOrgId"
                }
            ]
        },
        "\/accounting\/organizations\/{opContextOrgId}\/income-and-expenses\/{year}": {
            "get": {
                "tags": [
                    "ext"
                ],
                "summary": "Get income and expenses key figures.",
                "description": "",
                "operationId": "GET 'ext\/accounting\/organizations\/{opContextOrgId}\/income-and-expenses\/{year}\/v1' RouteV1GetIncomeAndExpensesRestOp",
                "parameters": [
                    {
                        "name": "year",
                        "in": "path",
                        "description": "No comments specified",
                        "required": true,
                        "schema": {
                            "type": "integer",
                            "maximum": 2099,
                            "minimum": 1900,
                            "x-asgard-datatype": [
                                "ASGARD_TYPE_INTEGER"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "External v1 model for Income and Expenses summary.",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/RouteV1IncomeAndExpensesOutputModel"
                                }
                            }
                        }
                    }
                }
            },
            "parameters": [
                {
                    "$ref": "#\/components\/parameters\/httpContaApiGatewayKey"
                },
                {
                    "$ref": "#\/components\/parameters\/opContextOrgId"
                }
            ]
        },
        "\/accounting\/organizations\/{opContextOrgId}\/reports\/accounts-receivable\/open": {
            "get": {
                "tags": [
                    "ext"
                ],
                "summary": "Gets open accounts receivable for one or all customers.",
                "description": "",
                "operationId": "GET 'ext\/accounting\/organizations\/{opContextOrgId}\/reports\/accounts-receivable\/open\/v1' RouteV1GetOpenAccountsReceivableRestOp",
                "parameters": [
                    {
                        "$ref": "#\/components\/parameters\/routeV1GetOpenAccountsReceivableInputModel.customerId"
                    },
                    {
                        "$ref": "#\/components\/parameters\/routeV1GetOpenAccountsReceivableInputModel.customerName"
                    },
                    {
                        "$ref": "#\/components\/parameters\/routeV1GetOpenAccountsReceivableInputModel.endDate"
                    },
                    {
                        "$ref": "#\/components\/parameters\/routeV1GetOpenAccountsReceivableInputModel.startDate"
                    },
                    {
                        "$ref": "#\/components\/parameters\/routeV1GetOpenAccountsReceivableInputModel.departmentId"
                    },
                    {
                        "$ref": "#\/components\/parameters\/routeV1GetOpenAccountsReceivableInputModel.projectId"
                    },
                    {
                        "$ref": "#\/components\/parameters\/routeV1GetOpenAccountsReceivableInputModel.includeOldTransactions"
                    },
                    {
                        "$ref": "#\/components\/parameters\/routeV1GetOpenAccountsReceivableInputModel.includeClosedLedgerLines"
                    },
                    {
                        "$ref": "#\/components\/parameters\/routeV1GetOpenAccountsReceivableInputModel.roundToTwoDecimals"
                    },
                    {
                        "$ref": "#\/components\/parameters\/routeV1GetOpenAccountsReceivableInputModel.page"
                    },
                    {
                        "$ref": "#\/components\/parameters\/routeV1GetOpenAccountsReceivableInputModel.recordsPerPage"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Output model for ledger reports.",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/RouteV1LedgerReportModel"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "endDateBeforeStartDateException",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/endDateBeforeStartDateException"
                                }
                            }
                        }
                    }
                }
            },
            "parameters": [
                {
                    "$ref": "#\/components\/parameters\/httpContaApiGatewayKey"
                },
                {
                    "$ref": "#\/components\/parameters\/opContextOrgId"
                }
            ]
        },
        "\/accounting\/organizations\/{opContextOrgId}\/reports\/balance-report": {
            "get": {
                "tags": [
                    "ext"
                ],
                "summary": "Build the balance report for an org.",
                "description": "The balance report shows the overview of your equity, total assets and debt.",
                "operationId": "GET 'ext\/accounting\/organizations\/{opContextOrgId}\/reports\/balance-report\/v1' RouteV1GetBalanceReportRestOp",
                "parameters": [
                    {
                        "$ref": "#\/components\/parameters\/routeV1AccountingReportInputModel.startDate"
                    },
                    {
                        "$ref": "#\/components\/parameters\/routeV1AccountingReportInputModel.endDate"
                    },
                    {
                        "$ref": "#\/components\/parameters\/routeV1AccountingReportInputModel.departmentId"
                    },
                    {
                        "$ref": "#\/components\/parameters\/routeV1AccountingReportInputModel.projectId"
                    },
                    {
                        "$ref": "#\/components\/parameters\/routeV1AccountingReportInputModel.bookkeepingAccountNos"
                    },
                    {
                        "$ref": "#\/components\/parameters\/routeV1AccountingReportInputModel.detailedCategories"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "arrayOfanything",
                        "content": {
                            "application\/json": {
                                "type": "array",
                                "items": {
                                    "type": "string"
                                },
                                "x-asgard-datatype": [
                                    "ASGARD_TYPE_ARRAY",
                                    "ASGARD_TYPE_MIXED"
                                ]
                            }
                        }
                    }
                }
            },
            "parameters": [
                {
                    "$ref": "#\/components\/parameters\/httpContaApiGatewayKey"
                },
                {
                    "$ref": "#\/components\/parameters\/opContextOrgId"
                }
            ]
        },
        "\/accounting\/organizations\/{opContextOrgId}\/reports\/profit-and-loss-report": {
            "get": {
                "tags": [
                    "ext"
                ],
                "summary": "Build and return the profit and loss report for an org.",
                "description": "The Profit and Loss report shows your total Income and your total Expenses in a specific period of time.",
                "operationId": "GET 'ext\/accounting\/organizations\/{opContextOrgId}\/reports\/profit-and-loss-report\/v1' RouteV1GetProfitAndLossReportRestOp",
                "parameters": [
                    {
                        "$ref": "#\/components\/parameters\/routeV1AccountingReportInputModel.startDate"
                    },
                    {
                        "$ref": "#\/components\/parameters\/routeV1AccountingReportInputModel.endDate"
                    },
                    {
                        "$ref": "#\/components\/parameters\/routeV1AccountingReportInputModel.departmentId"
                    },
                    {
                        "$ref": "#\/components\/parameters\/routeV1AccountingReportInputModel.projectId"
                    },
                    {
                        "$ref": "#\/components\/parameters\/routeV1AccountingReportInputModel.bookkeepingAccountNos"
                    },
                    {
                        "$ref": "#\/components\/parameters\/routeV1AccountingReportInputModel.detailedCategories"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "arrayOfanything",
                        "content": {
                            "application\/json": {
                                "type": "array",
                                "items": {
                                    "type": "string"
                                },
                                "x-asgard-datatype": [
                                    "ASGARD_TYPE_ARRAY",
                                    "ASGARD_TYPE_MIXED"
                                ]
                            }
                        }
                    }
                }
            },
            "parameters": [
                {
                    "$ref": "#\/components\/parameters\/httpContaApiGatewayKey"
                },
                {
                    "$ref": "#\/components\/parameters\/opContextOrgId"
                }
            ]
        },
        "\/accounting\/organizations\/{opContextOrgId}\/reports\/supplier-ledger": {
            "get": {
                "tags": [
                    "ext"
                ],
                "summary": "Gets supplier ledger for one or all suppliers.",
                "description": "",
                "operationId": "GET 'ext\/accounting\/organizations\/{opContextOrgId}\/reports\/supplier-ledger\/v1' RouteV1GetSupplierLedgerRestOp",
                "parameters": [
                    {
                        "$ref": "#\/components\/parameters\/routeV1GetLedgerInputModel.customerId"
                    },
                    {
                        "$ref": "#\/components\/parameters\/routeV1GetLedgerInputModel.customerName"
                    },
                    {
                        "$ref": "#\/components\/parameters\/routeV1GetLedgerInputModel.supplierId"
                    },
                    {
                        "$ref": "#\/components\/parameters\/routeV1GetLedgerInputModel.supplierName"
                    },
                    {
                        "$ref": "#\/components\/parameters\/routeV1GetLedgerInputModel.startDate"
                    },
                    {
                        "$ref": "#\/components\/parameters\/routeV1GetLedgerInputModel.endDate"
                    },
                    {
                        "$ref": "#\/components\/parameters\/routeV1GetLedgerInputModel.bookkeepingAccountsToBeIncluded"
                    },
                    {
                        "$ref": "#\/components\/parameters\/routeV1GetLedgerInputModel.startBookkeepingAccountNo"
                    },
                    {
                        "$ref": "#\/components\/parameters\/routeV1GetLedgerInputModel.endBookkeepingAccountNo"
                    },
                    {
                        "$ref": "#\/components\/parameters\/routeV1GetLedgerInputModel.departmentId"
                    },
                    {
                        "$ref": "#\/components\/parameters\/routeV1GetLedgerInputModel.projectId"
                    },
                    {
                        "$ref": "#\/components\/parameters\/routeV1GetLedgerInputModel.includeLedgerLines"
                    },
                    {
                        "$ref": "#\/components\/parameters\/routeV1GetLedgerInputModel.includeClosedLedgerLines"
                    },
                    {
                        "$ref": "#\/components\/parameters\/routeV1GetLedgerInputModel.includeOldTransactions"
                    },
                    {
                        "$ref": "#\/components\/parameters\/routeV1GetLedgerInputModel.page"
                    },
                    {
                        "$ref": "#\/components\/parameters\/routeV1GetLedgerInputModel.maxTransactionsPerPage"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Output model for ledger reports.",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/RouteV1LedgerReportModel"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "endDateBeforeStartDateException",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/endDateBeforeStartDateException"
                                }
                            }
                        }
                    }
                }
            },
            "parameters": [
                {
                    "$ref": "#\/components\/parameters\/httpContaApiGatewayKey"
                },
                {
                    "$ref": "#\/components\/parameters\/opContextOrgId"
                }
            ]
        },
        "\/accounting\/organizations\/{opContextOrgId}\/reports\/trial-balance": {
            "get": {
                "tags": [
                    "ext"
                ],
                "summary": "Return trial balance for an org.",
                "description": "",
                "operationId": "GET 'ext\/accounting\/organizations\/{opContextOrgId}\/reports\/trial-balance\/v1' RouteV1GetTrialBalanceRestRestOp",
                "parameters": [
                    {
                        "$ref": "#\/components\/parameters\/routeV1GetTrialBalanceInputModel.startDate"
                    },
                    {
                        "$ref": "#\/components\/parameters\/routeV1GetTrialBalanceInputModel.endDate"
                    },
                    {
                        "$ref": "#\/components\/parameters\/routeV1GetTrialBalanceInputModel.startBookkeepingAccountNo"
                    },
                    {
                        "$ref": "#\/components\/parameters\/routeV1GetTrialBalanceInputModel.endBookkeepingAccountNo"
                    },
                    {
                        "$ref": "#\/components\/parameters\/routeV1GetTrialBalanceInputModel.bookkeepingAccountsToBeIncluded"
                    },
                    {
                        "$ref": "#\/components\/parameters\/routeV1GetTrialBalanceInputModel.departmentId"
                    },
                    {
                        "$ref": "#\/components\/parameters\/routeV1GetTrialBalanceInputModel.projectId"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Sub model used to return trial balance.",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/RouteV1GetTrialBalanceOutputModel"
                                }
                            }
                        }
                    },
                    "422": {
                        "description": "endDateBeforeStartDateException",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/endDateBeforeStartDateException"
                                }
                            }
                        }
                    }
                }
            },
            "parameters": [
                {
                    "$ref": "#\/components\/parameters\/httpContaApiGatewayKey"
                },
                {
                    "$ref": "#\/components\/parameters\/opContextOrgId"
                }
            ]
        },
        "\/accounting\/organizations\/{opContextOrgId}\/reports\/trial-balance\/details": {
            "get": {
                "tags": [
                    "ext"
                ],
                "summary": "Return accounting report data details for an org.",
                "description": "",
                "operationId": "GET 'ext\/accounting\/organizations\/{opContextOrgId}\/reports\/trial-balance\/details\/v1' RouteV1GetAccountingReportDataDetailsRestOp",
                "parameters": [
                    {
                        "$ref": "#\/components\/parameters\/routeV1GetAccountingReportDetailsInputModel.startDate"
                    },
                    {
                        "$ref": "#\/components\/parameters\/routeV1GetAccountingReportDetailsInputModel.endDate"
                    },
                    {
                        "$ref": "#\/components\/parameters\/routeV1GetAccountingReportDetailsInputModel.departmentId"
                    },
                    {
                        "$ref": "#\/components\/parameters\/routeV1GetAccountingReportDetailsInputModel.projectId"
                    },
                    {
                        "$ref": "#\/components\/parameters\/routeV1GetAccountingReportDetailsInputModel.bookkeepingAccountNo"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "arrayOfExternal representation of a ledger line belonging to a transaction.",
                        "content": {
                            "application\/json": {
                                "type": "array",
                                "items": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "integer",
                                            "description": "The ID of the ledger line.",
                                            "maximum": 9223372036854775807,
                                            "minimum": 1,
                                            "x-asgard-datatype": [
                                                "ASGARD_TYPE_INTEGER"
                                            ]
                                        },
                                        "date": {
                                            "type": "string",
                                            "format": "date",
                                            "description": "The date of the ledger line.",
                                            "x-asgard-datatype": [
                                                "ASGARD_TYPE_DATE"
                                            ],
                                            "x-earliest": "1100-01-01",
                                            "x-latest": "2299-12-31"
                                        },
                                        "dueDate": {
                                            "type": "string",
                                            "format": "date",
                                            "description": "Due date this transaction line will be accounted in books.",
                                            "x-asgard-datatype": [
                                                "ASGARD_TYPE_DATE"
                                            ],
                                            "x-earliest": "1100-01-01",
                                            "x-latest": "2299-12-31"
                                        },
                                        "description": {
                                            "type": "string",
                                            "description": "The description of the ledger line.",
                                            "minLength": 0,
                                            "maxLength": 16777215,
                                            "x-asgard-datatype": [
                                                "ASGARD_TYPE_STRING"
                                            ]
                                        },
                                        "amount": {
                                            "type": "number",
                                            "description": "The amount of the ledger line. Negative means credited, positive means debited.",
                                            "maximum": 99999999999.99,
                                            "minimum": -99999999999.99,
                                            "x-asgard-datatype": [
                                                "ASGARD_TYPE_CURRENCY"
                                            ]
                                        },
                                        "bookkeepingAccountNo": {
                                            "type": "string",
                                            "description": "The bookkeeping account number. Contains 4 digits, e.g. 3200.",
                                            "minLength": 4,
                                            "maxLength": 4,
                                            "x-asgard-datatype": [
                                                "ASGARD_TYPE_BOOKKEEPING_ACCOUNT_NO"
                                            ]
                                        },
                                        "bookkeepingAccountName": {
                                            "type": "string",
                                            "description": "The name of the bookkeeping account.",
                                            "minLength": 1,
                                            "maxLength": 500,
                                            "x-asgard-datatype": [
                                                "ASGARD_TYPE_STRING"
                                            ]
                                        },
                                        "vatCode": {
                                            "$ref": "#\/components\/schemas\/enumVatCodeTypeConst"
                                        },
                                        "vatDisplayCode": {
                                            "type": "string",
                                            "description": "The VAT display code.",
                                            "minLength": 1,
                                            "maxLength": 100,
                                            "x-asgard-datatype": [
                                                "ASGARD_TYPE_STRING"
                                            ]
                                        },
                                        "specification": {
                                            "$ref": "#\/components\/schemas\/enumVatSpecificationTypeEnum"
                                        },
                                        "transactionId": {
                                            "type": "integer",
                                            "description": "The ID of the transaction this ledger line belongs to.",
                                            "maximum": 9223372036854775807,
                                            "minimum": 1,
                                            "x-asgard-datatype": [
                                                "ASGARD_TYPE_INTEGER"
                                            ]
                                        },
                                        "transactionNo": {
                                            "type": "integer",
                                            "description": "The number of the transaction this ledger line belongs to.",
                                            "maximum": 9223372036854775807,
                                            "minimum": -9223372036854775808,
                                            "x-asgard-datatype": [
                                                "ASGARD_TYPE_INTEGER"
                                            ]
                                        },
                                        "transactionNoYear": {
                                            "type": "string",
                                            "description": "TransactionNo which includes year, e.g. 2-2017.",
                                            "minLength": 1,
                                            "maxLength": 100,
                                            "x-asgard-datatype": [
                                                "ASGARD_TYPE_STRING"
                                            ]
                                        },
                                        "transactionSourceType": {
                                            "$ref": "#\/components\/schemas\/enumTransactionSourceTypeEnum"
                                        },
                                        "customerId": {
                                            "type": "integer",
                                            "description": "The ID of the customer this ledger line belongs to.",
                                            "maximum": 9223372036854775807,
                                            "minimum": 1,
                                            "x-asgard-datatype": [
                                                "ASGARD_TYPE_INTEGER"
                                            ]
                                        },
                                        "customerName": {
                                            "type": "string",
                                            "description": "The name of the customer this ledger line belongs to.",
                                            "minLength": 1,
                                            "maxLength": 255,
                                            "x-asgard-datatype": [
                                                "ASGARD_TYPE_STRING"
                                            ]
                                        },
                                        "customerOrgNo": {
                                            "type": "string",
                                            "description": "The organization number of the customer.",
                                            "minLength": 6,
                                            "maxLength": 50,
                                            "pattern": "^[\\-a-zA-Z0-9\u00c6\u00d8\u00c5\u00e6\u00f8\u00e5 ]+$",
                                            "x-asgard-datatype": [
                                                "ASGARD_TYPE_ORG_NO"
                                            ]
                                        },
                                        "supplierId": {
                                            "type": "integer",
                                            "description": "The ID of the supplier this ledger line belongs to.",
                                            "maximum": 9223372036854775807,
                                            "minimum": 1,
                                            "x-asgard-datatype": [
                                                "ASGARD_TYPE_INTEGER"
                                            ]
                                        },
                                        "supplierName": {
                                            "type": "string",
                                            "description": "The name of the supplier this ledger line belongs to.",
                                            "minLength": 1,
                                            "maxLength": 255,
                                            "x-asgard-datatype": [
                                                "ASGARD_TYPE_STRING"
                                            ]
                                        },
                                        "supplierOrgNo": {
                                            "type": "string",
                                            "description": "The organization number of the supplier.",
                                            "minLength": 6,
                                            "maxLength": 50,
                                            "pattern": "^[\\-a-zA-Z0-9\u00c6\u00d8\u00c5\u00e6\u00f8\u00e5 ]+$",
                                            "x-asgard-datatype": [
                                                "ASGARD_TYPE_ORG_NO"
                                            ]
                                        },
                                        "projectId": {
                                            "type": "integer",
                                            "description": "The ID of the project this ledger line belongs to.",
                                            "maximum": 9223372036854775807,
                                            "minimum": 1,
                                            "x-asgard-datatype": [
                                                "ASGARD_TYPE_INTEGER"
                                            ]
                                        },
                                        "projectName": {
                                            "type": "string",
                                            "description": "The name of the project this ledger line belongs to.",
                                            "minLength": 1,
                                            "maxLength": 100,
                                            "x-asgard-datatype": [
                                                "ASGARD_TYPE_STRING"
                                            ]
                                        },
                                        "departmentId": {
                                            "type": "integer",
                                            "description": "The ID of the department this ledger line belongs to.",
                                            "maximum": 9223372036854775807,
                                            "minimum": 1,
                                            "x-asgard-datatype": [
                                                "ASGARD_TYPE_INTEGER"
                                            ]
                                        },
                                        "departmentName": {
                                            "type": "string",
                                            "description": "The name of the department this ledger line belongs to.",
                                            "minLength": 1,
                                            "maxLength": 100,
                                            "x-asgard-datatype": [
                                                "ASGARD_TYPE_STRING"
                                            ]
                                        },
                                        "closedAt": {
                                            "type": "string",
                                            "format": "date",
                                            "description": "The date the transaction line was closed.",
                                            "x-asgard-datatype": [
                                                "ASGARD_TYPE_DATE"
                                            ],
                                            "x-earliest": "1100-01-01",
                                            "x-latest": "2299-12-31"
                                        },
                                        "transactionLineClosedId": {
                                            "type": "integer",
                                            "description": "Id created if line is closed. Must be used to reopen.",
                                            "maximum": 9223372036854775807,
                                            "minimum": 1,
                                            "x-asgard-datatype": [
                                                "ASGARD_TYPE_INTEGER"
                                            ]
                                        },
                                        "invoiceId": {
                                            "type": "integer",
                                            "description": "The ID of the invoice this ledger line belongs to.",
                                            "maximum": 9223372036854775807,
                                            "minimum": 1,
                                            "x-asgard-datatype": [
                                                "ASGARD_TYPE_INTEGER"
                                            ]
                                        },
                                        "invoiceNo": {
                                            "type": "string",
                                            "description": "The invoice number.",
                                            "minLength": 1,
                                            "maxLength": 100,
                                            "x-asgard-datatype": [
                                                "ASGARD_TYPE_STRING"
                                            ]
                                        },
                                        "isResetTransaction": {
                                            "type": "boolean",
                                            "description": "Flag that indicates if the transaction represents a reset transaction.",
                                            "x-asgard-datatype": [
                                                "ASGARD_TYPE_BOOLEAN"
                                            ]
                                        },
                                        "resetByTransactionId": {
                                            "type": "integer",
                                            "description": "The transactionId of the transaction that reset this one, if applicable.",
                                            "maximum": 9223372036854775807,
                                            "minimum": 1,
                                            "x-asgard-datatype": [
                                                "ASGARD_TYPE_INTEGER"
                                            ]
                                        },
                                        "creditNoteId": {
                                            "type": "integer",
                                            "description": "The ID of the credit note.",
                                            "maximum": 9223372036854775807,
                                            "minimum": 1,
                                            "x-asgard-datatype": [
                                                "ASGARD_TYPE_INTEGER"
                                            ]
                                        },
                                        "creditNoteNo": {
                                            "type": "integer",
                                            "description": "The credit note number.",
                                            "maximum": 9223372036854775807,
                                            "minimum": 1,
                                            "x-asgard-datatype": [
                                                "ASGARD_TYPE_INTEGER"
                                            ]
                                        },
                                        "isCorrection": {
                                            "type": "boolean",
                                            "description": "A flag informing if the ledger line is a correction.",
                                            "x-asgard-datatype": [
                                                "ASGARD_TYPE_BOOLEAN"
                                            ]
                                        }
                                    }
                                },
                                "x-asgard-datatype": [
                                    "ASGARD_TYPE_ARRAY",
                                    "ASGARD_TYPE_OBJECT",
                                    "Conta\\Backend\\Rest\\Route\\External\\v1\\Accounting\\Transaction\\Model\\RouteV1LedgerLineModel"
                                ]
                            }
                        }
                    },
                    "422": {
                        "description": "endDateBeforeStartDateException",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/endDateBeforeStartDateException"
                                }
                            }
                        }
                    }
                }
            },
            "parameters": [
                {
                    "$ref": "#\/components\/parameters\/httpContaApiGatewayKey"
                },
                {
                    "$ref": "#\/components\/parameters\/opContextOrgId"
                }
            ]
        },
        "\/accounting\/organizations\/{opContextOrgId}\/suppliers": {
            "get": {
                "tags": [
                    "ext"
                ],
                "summary": "Search suppliers.",
                "description": "",
                "operationId": "GET 'ext\/accounting\/organizations\/{opContextOrgId}\/suppliers\/v1' RouteV1SearchSuppliersRestOp",
                "parameters": [
                    {
                        "$ref": "#\/components\/parameters\/queryModel.q"
                    },
                    {
                        "$ref": "#\/components\/parameters\/queryModel.hits"
                    },
                    {
                        "$ref": "#\/components\/parameters\/queryModel.page"
                    },
                    {
                        "$ref": "#\/components\/parameters\/queryModel.sort"
                    },
                    {
                        "$ref": "#\/components\/parameters\/queryModel.fromDate"
                    },
                    {
                        "$ref": "#\/components\/parameters\/queryModel.toDate"
                    },
                    {
                        "$ref": "#\/components\/parameters\/routeV1SearchSuppliersInputModel.returnUnpaidInvoices"
                    },
                    {
                        "$ref": "#\/components\/parameters\/routeV1SearchSuppliersInputModel.transactionId"
                    },
                    {
                        "$ref": "#\/components\/parameters\/routeV1SearchSuppliersInputModel.transactionDraftId"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Represents the search result. Contains an array with the result and metadata about the search result. E.g. the total hit count.",
                        "content": {
                            "application\/json": {
                                "schema": {
                                    "$ref": "#\/components\/schemas\/RouteV1QueryResultSupplierCsListModel"
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "tags": [
                    "ext"
                ],
                "summary": "Create supplier.",
[...]
